---
layout: category
title: Publications
---

<ul>
  {% for post in site.categories.publications %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>
