---
layout: category
title: Software
---

<ul>
  {% for post in site.categories.software %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>
