/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color: #282a36 !default;
$text-color: #f8f8f2 !default;
$primary-color: #bd93f9 !default;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: #44475a !default;
$code-background-color-dark: #44475a !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 30%) !default;
$link-color: #8be9fd !default;
$link-color-hover: #ff79c6 !default;
$link-color-visited: #8be9fd !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

/* neon syntax highlighting (base16) */

$base00: #44475a !default;
$base01: #44475a !default;
$base02: #f8f8f2 !default;
$base03: #6272a4 !default;
$base04: #6272a4 !default; 
$base05: #e9e9f4 !default; 
$base06: #f1f2f8 !default; 
$base07: #f7f7fb !default; 
$base08: #ea51b2 !default; 
$base09: #b45bcf !default; 
$base0a: #00f769 !default; 
$base0b: #ebff87 !default; 
$base0c: #a1efe4 !default; 
$base0d: #62d6e8 !default; 
$base0e: #b45bcf !default; 
$base0f: #00f769 !default; 



/*
$base00: #44475a !default;
$base01: #44475a !default;
$base02: #f8f8f2 !default;
$base03: #6272a4 !default;
$base04: #50fa7b !default; 
$base05: #f8f8f2 !default;
$base06: #f8f8f2 !default;
$base07: #8be9fd !default;
$base08: #ff5555 !default;
$base09: #ffb86c !default;
$base0a: #ff79c6 !default;
$base0b: #f1fa8c !default;
$base0c: #8be9fd !default;
$base0d: #3777e6 !default;
$base0e: #bd93f9 !default;
$base0f: #ff79c6 !default;
*/


.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

/* next/previous buttons */
.pagination--pager {
  color: $text-color;
  background-color: $primary-color;
  border-color: transparent;

  &:visited {
    color: $text-color;
  }
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}